* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}
@mixin gridCenter {
    display: grid;
    align-items: center;
    justify-content: center;
}
nav {
    position: fixed;
    top: 0;
    width: 100%; 
}
ul {
    @include flexCenter(row);
    gap: 10rem;
    list-style: none;
    padding: 25px;
    background-color: green;
}

li {
    color: white;
    cursor: pointer;
}